
<template>
    <AuthenticatedLayout title="Assessment">
        <template #header>
            <div
                class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between"
            >
                <h2 class="text-xl font-semibold leading-tight">
                    You are in Assessment
                </h2>
            </div>
        </template>

        <div
            class="p-6 overflow-hidden bg-white rounded-md shadow-md dark:bg-dark-eval-1"
        >
            Welcome Assessment
        </div>
        <div>
            <!-- Your page content here -->

            <div>
                <Button variant="success" data-modal-target="defaultModal" @click="openModal" type="button"
                    class="block text-white bg-blue-700 hover:bg-blue-800 cursor-pointer">
                    Assessment
                </Button>
            </div>
            <AssesmentModal v-if="isModalOpen" @close-modal="closeModal" />
        </div>
    </AuthenticatedLayout>
</template>

<script>
import AuthenticatedLayout from "@/Layouts/Authenticated.vue";
import Button from "@/Components/Button.vue";
import AssesmentModal from "@/Components/AssesmentModal.vue";

export default {
    components: {
        AuthenticatedLayout,
        Button,
        AssesmentModal,
    },
    data () {
        return {
            isModalOpen: false,

            
        }

    },
    methods: {
        openModal() {
            this.isModalOpen = true;
        },
        closeModal() {
            // Handle closing modal logic specific to Page 1
            this.isModalOpen = false;
        },
    },
    
}
</script>
<style lang="">
    
</style>
