

<template>
    <AuthenticatedLayout>
        <template #header>
            <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
                <h2 class="text-xl font-semibold leading-tight">
                    You are in Submission
                </h2>
            </div>
        </template>
        <div class="p-6 overflow-hidden bg-white rounded-md shadow-md dark:bg-dark-eval-1">
            <BreezeValidationErrors class="mb-4" />

            <form v-if="showDetails">
                <!-- Type -->

                <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
                    <h2 class="text-xl font-semibold leading-tight">Type</h2>
                </div>
                <div class="mt-4 grid grid-cols-2 gap-2">
                    <select id="type" v-model="form.type" name="type">
                        <option value="1">Dissertation</option>
                        <option value="2">Capstone</option>
                        <option value="3">Thesis</option>
                    </select>
                </div>
                <br />

                <!-- Details -->

                <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
                    <h2 class="text-xl font-semibold leading-tight">Details</h2>
                </div>
                <div class="grid grid-cols-2 gap-2">
                    <div class="mt-4">
                        <Label for="title" value="Title" />
                        <Input id="title" type="text" class="mt-1 block w-full" v-model="form.title" required />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="series" value="Series" />
                        <Input id="series" type="text" class="mt-1 block w-full" v-model="form.series" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="series_num" value="Series Number" />
                        <Input id="series_num" type="text" class="mt-1 block w-full" v-model="form.series_num" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="volume" value="Volume" />
                        <Input id="volume" type="text" class="mt-1 block w-full" v-model="form.volume" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="num_volume" value="Number Volume" />
                        <Input id="num_volume" type="text" class="mt-1 block w-full" v-model="form.num_volume" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="edition" value="Edition" />
                        <Input id="edition" type="text" class="mt-1 block w-full" v-model="form.edition" />
                    </div>

                    <div class="mt-4">
                        <Label for="place" value="Place" />
                        <Input id="place" type="text" class="mt-1 block w-full" v-model="form.place" />
                    </div>

                    <div class="mt-4">
                        <Label for="publisher" value="Publisher" />
                        <Input id="publisher" type="text" class="mt-1 block w-full" v-model="form.publisher" />
                    </div>

                    <div class="mt-4">
                        <Label for="date" value="Date" />
                        <Input id="date" type="date" class="mt-1 block w-full" v-model="form.date" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="original_date" value="Original Date" />
                        <Input id="original_date" type="date" class="mt-1 block w-full" v-model="form.original_date" />
                    </div>

                    <div class="mt-4">
                        <Label for="num_pages" value="Number Pages" />
                        <Input id="num_pages" type="number" class="mt-1 block w-full" v-model="form.num_pages" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="language" value="Language" />
                        <Input id="language" type="text" class="mt-1 block w-full" v-model="form.language" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="isbn" value="ISBN" />
                        <Input id="isbn" type="text" class="mt-1 block w-full" v-model="form.isbn" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="short_title" value="Short Title" />
                        <Input id="short_title" type="text" class="mt-1 block w-full" v-model="form.short_title" />
                    </div>

                    <div class="mt-4">
                        <Label for="url" value="URL" />
                        <Input id="url" type="text" class="mt-1 block w-full" v-model="form.url" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="accessed" value="Accessed" />
                        <Input id="accessed" type="text" class="mt-1 block w-full" v-model="form.accessed" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="archive" value="Archive" />
                        <Input id="archive" type="text" class="mt-1 block w-full" v-model="form.archive" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="loc_in_archive" value="Location in Archive" />
                        <Input id="loc_in_archive" type="text" class="mt-1 block w-full" v-model="form.loc_in_archive" />
                    </div>
                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="library_catalog" value="Library Catalog" />
                        <Input id="library_catalog" type="text" class="mt-1 block w-full" v-model="form.library_catalog" />
                    </div>

                    <div class="mt-4" v-if="form.type != 1 && form.type != 2 && form.type != 3
                        ">
                        <Label for="call_number" value="Call Number" />
                        <Input id="call_number" type="text" class="mt-1 block w-full" v-model="form.call_number" />
                    </div>
                    <div class="mt-4">
                        <Label for="short_abstract" value="Short Abstract" />
                        <ckeditor :editor="editor" v-model="form.short_abstract" :config="editorConfig" id="short_abstract">
                        </ckeditor>
                    </div>
                    <div class="mt-4">
                        <Label for="ext_abstract" value="Extended Abstract" />
                        <ckeditor :editor="editor" v-model="form.ext_abstract" :config="editorConfig" id="ext_abstract">
                        </ckeditor>
                    </div>
                </div>

                <div class="flex items-center justify-end mt-4" v-if="showSaveButton">
                    <Button class="ml-4" type="button" @click="save">
                        Save
                    </Button>
                </div>
                <br />
            </form>

            <!-- Contributors -->
            <form v-if="showContributors">
                <div class="flex flex-col gap-1 md:flex-row md:items-center md:justify-between">
                    <h2 class="text-xl font-semibold leading-tight">
                        Contributors
                    </h2>
                </div>
                <!-- Each contributor's information aligned horizontally -->
                <div class="grid grid-cols-1 gap-2">
                    <!-- Each contributor's information aligned horizontally -->
                    <div class="flex">
                        <div class="flex-1">
                            <label for="typeContributor"
                                class="block text-sm font-medium text-gray-700">Contributors</label>
                            <select v-model="form.typeAuthor"
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-mmsu-color">
                                <option value="1">Author</option>
                          
                                <!-- Add more options as needed -->
                            </select>
                            <tag-input :selectedType="form.typeAuthor" :data="authorData" :fetchStudents="fetchStudents" :fetchEmployees="fetchEmployees"
                               
                                :filterPeople="filterPeople" :selectPerson="selectPerson"
                                @tags-updated="handleAuthorTagsUpdate"></tag-input>
                        </div>
                        <div class="flex-1 ml-4">
                            <label for="type" class="block text-sm font-medium text-gray-700">Contributors</label>
                            <select v-model="form.typeAdviser"
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-mmsu-color">
                        
                                <option value="2">Adviser</option>
                          
                                <!-- Add more options as needed -->
                            </select>
                            <tag-input :selectedType="form.typeAdviser" :data="adviserData" :fetchStudents="fetchStudents" :fetchEmployees="fetchEmployees"
                               
                                :filterPeople="filterPeople" :selectPerson="selectPerson"
                                @tags-updated="handleAdviserTagsUpdate"></tag-input>
                        </div>
                        <div class="flex-1 ml-4">
                            <label for="type" class="block text-sm font-medium text-gray-700">Contributors</label>
                            <select v-model="form.typePanel"
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-mmsu-color">
                                <option value="3">Panel</option>
                                <!-- Add more options as needed -->
                            </select>
                            <tag-input :selectedType="form.typePanel" :data="panelData" :fetchStudents="fetchStudents" :fetchEmployees="fetchEmployees"
                              
                                :filterPeople="filterPeople" :selectPerson="selectPerson"
                                @tags-updated="handlePanelTagsUpdate"></tag-input>
                        </div>
                    </div>
                </div>




                <div class="flex items-center justify-end mt-4" v-if="showSaveButton">
                    <Button class="ml-4" type="button" @click="save">
                        Save
                    </Button>
                </div>
            </form>
            <br />

            <form v-if="showReferences">
                <!-- References -->
                <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
                    <h2 class="text-xl font-semibold leading-tight">
                        References
                    </h2>

                    <!-- Your modal content -->
                    <div>
                        <!-- Your page content here -->

                        <div>
                            <Button variant="success" data-modal-target="defaultModal" @click="openModal" type="button"
                                class="block text-white bg-blue-700 hover:bg-blue-800 cursor-pointer">
                                References
                            </Button>
                        </div>
                        <ReferenceModal v-if="isModalOpen" @close-modal="closeModal" />
                    </div>
                </div>
            </form>
        </div>
    </AuthenticatedLayout>
</template>
<script>
import AuthenticatedLayout from "@/Layouts/Authenticated.vue";
import Input from "@/Components/Input.vue";
import Label from "@/Components/Label.vue";
import Dropdown from "@/Components/Dropdown.vue";
import Button from "@/Components/Button.vue";
import BreezeValidationErrors from "@/Components/ValidationErrors.vue";
import { useForm } from "@inertiajs/inertia-vue3";
import ReferenceModal from "@/Components/ReferenceModal.vue";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import { ref } from "vue";
import { router } from "@inertiajs/vue3";
import axios from 'axios';
import TagInput from '@/Components/TagInput.vue';
export default {
    components: {
        TagInput,
        ClassicEditor,
        AuthenticatedLayout,
        Input,
        Label,
        Dropdown,
        Button,
        BreezeValidationErrors,
        ReferenceModal,
    },
    data() {
        const form = useForm({
            type: "",
            title: "",
            series: "",
            series_num: "",
            volume: "",
            num_volume: "",
            edition: "",
            place: "",
            publisher: "",
            date: "",
            original_date: "",
            num_pages: "",
            language: "",
            isbn: "",
            short_title: "",
            url: "",
            accessed: "",
            archive: "",
            loc_in_archive: "",
            library_catalog: "",
            call_number: "",
            short_abstract: "",
            ext_abstract: "",
            typeAuthor: 1, // Default value for Author type
            typeAdviser: 2, // Default value for Adviser type
            typePanel: 3, // Default value for Panel type



            // thesisId: "",

        });

        return {
            authorData: {
                tags: [], // Initialize with an empty array or the necessary structure
            },
            adviserData: {
                tags: [], // Initialize with an empty array or the necessary structure
            },
            panelData: {
                tags: [], // Initialize with an empty array or the necessary structure
            },
            isModalOpen: false,
            editor: ClassicEditor,
            editorData: "ckeditor 5 for laravel and vuejs",
            editorConfig: {},
            form,
            showDetails: ref(true),
            showContributors: ref(false),
            showReferences: ref(false),
            showSaveButton: ref(true),
            // thesisId: null
        };
    },

    mounted() {
        this.editorData = "";
    
    },
    methods: {
        handleAuthorTagsUpdate(updatedData) {
            // Access both the updated tags array and the selected person from the payload
            const { tags, selectedPerson } = updatedData;

            // Update the authorData tags with the updated tags array
            this.authorData.tags = updatedData;


        },
        // Similar methods for Adviser and Panel types
        handleAdviserTagsUpdate(updatedData) {
            this.adviserData.tags = updatedData;
        },
        handlePanelTagsUpdate(updatedData) {
            this.panelData.tags = updatedData;
        },
        openModal() {
            this.isModalOpen = true;
        },
        closeModal() {
            // Handle closing modal logic specific to Page 1
            this.isModalOpen = false;
        },
        displayEditorResult() {
            document.getElementById("resultingText").innerHTML =
                this.editorData;
        },
        emptyEditor() {
            this.editorData = "";
        },
        save() {
            // const data = Object.assign({}, this.form, { thesisId: this.thesisId, contributors: this.form.contributors });
            const data = {
                ...this.form, authorData: {
                    tags: this.authorData.tags // Assuming this structure matches your backend expectations
                }, adviserData: {
                    tags: this.adviserData.tags // Assuming this structure matches your backend expectations
                },panelData: {
                    tags: this.panelData.tags // Assuming this structure matches your backend expectations
                },
            };


            // Extract the form data
            // Check if the current section is "Details"
            if (this.showDetails) {
                // Add your validation logic here
                // Add your validation logic here
                if (
                    !data.type ||
                    !data.title ||
                    !data.place ||
                    !data.publisher ||
                    !data.date ||
                    !data.num_pages ||
                    !data.url ||
                    !data.short_abstract ||
                    !data.ext_abstract
                ) {
                    alert(
                        'Please fill in all required fields in the "Details" section.'
                    );
                    return;
                }
                // Save details data
                // router.post('/details', data);

                router.post('/details', data)
                // .then((response) => {
                //   this.thesisId = response.data.thesisId;
                // });

                this.showDetails = false;
                this.showContributors = true;
            }else if (this.showContributors) {
                // Add your validation logic for contributors here


                router.post("/contributors", data)

                // router.post('/contributors', data) // Save contributors data
                this.showContributors = false;
                this.showReferences = true;
            }
        },
    },
};
</script>